{% load i18n %}

<tr>
  <td>
    {% if object.foirequest %}
      {{ object.foirequest.readable_status }}
    {% else %}
      <a class="btn btn-primary" href="{{ object.make_request_url }}&amp;redirect={{ campaign_url|urlencode }}{{ "?"|urlencode }}{{ getvars_complete|urlencode }}">
        {% if object.campaign.category %}
          {% blocktrans with name=object.campaign.category %}Request {{ name }}{% endblocktrans %}
        {% else %}
          {% trans "Make request" %}
        {% endif %}
      </a>
    {% endif %}
  </td>
  <td>
    {% if object.foirequest %}
      <a href="{{ object.foirequest.get_absolute_url }}">
    {% endif %}
    {{ object.title }}
    {% if object.foirequest %}
      </a>
    {% endif %}
    {% with documents=object.documents.all %}
      {% if documents %}
        <ul>
        {% for attachment in documents %}
          <li>
            <a href="{{ attachment.get_absolute_url }}" title="{{ object.title }}">
              <span class="glyphicon glyphicon-paperclip"></span>
              {{ attachment.name|truncatechars:20 }}
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </td>
</tr>
